<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
	<profiles>
		<profile>
			<id>default</id>
			<repositories>
				<repository>
					<id>central</id>
					<name>Central Repository</name>
					<url>${repo.url}</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<name>Central Repository</name>
					<url>${repo.url}</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>default</activeProfile>
	</activeProfiles>
	<servers>
		<server>
			<id>snapshots</id>
			<username>${repo.username}</username>
			<password>${repo.password}</password>
		</server>
		<server>
			<id>releases</id>
			<username>${repo.username}</username>
			<password>${repo.password}</password>
		</server>
	</servers>
</settings>
